<!DOCTYPE html>
<html lang="en">
@include('partials/header')
<body>
  <div id="root">{{{ content }}}</div>
  <div id="portal-root"></div>
</body>
@include('partials/reduxStore')
{{ script('dist/main.bundle') }}
</html>
